<div class="current-list-container">
  <h1>Lista actual</h1>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          @for(header of tableHeaders; track header ){
          <th scope="col">{{ header }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for(song of songList; track song.id){
        <tr>
          <th scope="row">{{ song.id }}</th>
          <td>{{ song.songName | capitalize }}</td>
          <td>{{ song.artistName | capitalize}}</td>
          <td>{{ song.userName | capitalize }}</td>
          <td><button type="button" class="btn btn-success">Completar</button></td>
          <td><button type="button" class="btn btn-danger">Eliminar</button></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
