.current-list-container .table-container {
  scroll-behavior: smooth;
  overflow: scroll;
}

@media only screen and (min-width: 800px) {
  .current-list-container .table-container {
    overflow: hidden;
  }
}
