.footer-container {
  background-color: #0d1117;
  color: #eaeaea;
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 100%;
  max-width: 50px;
}

.information-container {
  align-content: center;
}
