.confirmation-container {
  width: 100%;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 1fr auto;
}

.confirmation-body {
  padding: 15px;
}

.confirmation-container .thanks-container {
  margin-top: 10px;
}

.confirmation-container .description-container {
  display: grid;
  row-gap: 30px;
  margin-top: 50px;
}

.confirmation-container .button-container {
  margin-top: 50px;
}

@media only screen and (min-width: 600px) {
  .confirmation-body {
    width: 100%;
    max-width: 600px;
    justify-self: center;
  }
}
