<div class="history-container private-tables">
  <h1>Historial</h1>

  @if(loading){
  <div class="loader-general">
    <app-loader></app-loader>
  </div>
  }

  @if(showAlert){
  <div class="history-alert-container">
    <app-alert [message]="messageAlert" [typeAlert]="typeAlert"></app-alert>
  </div>
  }

  @if(playlist.length > 0){
  <div class="table-container scroll-tables">
    <table class="table">
      <thead>
        <tr>
          @for(header of tableHeaders; track header;){
          <th scope="col" style="text-align: center">{{ header }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for(item of playlist; track item.numberOnList){
        <tr>
          <td style="text-align: center">{{ item.numberOnList }}</td>
          <td style="text-align: center">{{ item.songName | capitalize }}</td>
          <td style="text-align: center">{{ item.artistName | capitalize }}</td>
          <td style="text-align: center">{{ item.userName | capitalize }}</td>
          <td style="text-align: center">{{ item.date }}</td>
          <td style="text-align: center">{{ item.time }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="button-container">
    <button
      type="button"
      class="btn btn-secondary printPDF"
      (click)="printPDF()"
    >
      Descargar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      id="btn-delete"
      (click)="clearHistory()"
    >
      Limpiar historico
    </button>
  </div>
  }
</div>
