/* You can add global styles to this file, and also import other style files */
.private-tables {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
}

.scroll-tables {
  scroll-behavior: smooth;
  overflow: scroll;
}

.loader-general {
  width: 100%;
  height: 100vh;
  position: absolute;
  max-width: 1400px;
  left: 0;
  background: white;
  display: grid;
  align-content: center;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .scroll-tables {
    overflow: hidden;
    overflow-y: auto;
    height: 500px;
  }
}
